<h2>Show Bid</h2>

<ul>

  <li>
    <strong>Phone:</strong>
    <%= @bid.phone %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @bid.phone %>
  </li>

  <li>
    <strong>Piece:</strong>
    <%= @bid.piece %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @bid.amount %>
  </li>mx

  <li>
    <strong>Comment:</strong>
    <%= @bid.comment %>
  </li> 

</ul>

<span><%= link "Edit", to: bid_path(@conn, :edit, @bid) %></span>
<span><%= link "Back", to: bid_path(@conn, :index) %></span>
